.efx-controls .group-control legend {
	background-color: #f3f3f3;
	color: black;
	display: block;
	float: left;
	font-weight: bold;
	margin: 0;
	padding: 0px 20px;
	text-transform: uppercase;
	width: calc(100% - 40px);
}
