.message-display {
	border-radius: 8px;
	font-family: sans-serif;
	padding: 12px;
}

.message-display__label {
	font-size: 2rem;
	margin-left: 20px;
	padding-top: 1.5rem;
	vertical-align: top;
}

.message-display__textarea {
	font-size: 1.5rem;
	height: 60px;
	width: 60%;
}

.message-display__video-crop-lcd {
	position: fixed;
	width: 260px;
	height: 80px;
	top: 0;
  left: calc(50% - 130px);
	overflow: hidden;
	z-index: 10;
}
.message-display__video-lcd {
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
	position: absolute;
	top: -120px;
}

.message-display__video-crop-webcam {
	position: relative;
	overflow: hidden;
}

.message-display__video-webcam {
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
