.message-display {
	border-radius: 8px;
	font-family: sans-serif;
	padding: 12px;
}

.message-display__label {
	font-size: 2rem;
	margin-left: 20px;
	padding-top: 1.5rem;
	vertical-align: top;
}

.message-display__textarea {
	font-size: 1.5rem;
	height: 60px;
	width: 60%;
}
