
.options-control__label {
	font-weight: 700;
}

.options-control__controls {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.6rem;
}

.options-control__radio-group label {

}
.options-control__radio-group input {

}
