$mover-w: 30rem;
$thumb-d: 3rem;
$track-w: $mover-w + $thumb-d;
$track-h: .25rem;
$track-c: #151515;
$track-c-disabled: #5f5f5f;
$ruler-c: #95a;
$ruler-u: .1*$mover-w;
$ruler-w: 2px;

@mixin track() { 
	background-color: $track-c;
	height: $track-h; width: $track-w;
	box-sizing: border-box;
 }
 .slider-control__range {
	 font-size: 1rem;
 }

 @mixin track-disabled() { 
	background-color: $track-c-disabled;
 }

@mixin thumb() {
	box-sizing: border-box;
	border: none;
	width: $thumb-d; height: $thumb-d;
	border-radius: 2%;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(135,135,135,1) 47%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 51%, rgba(123,123,123,1) 52%, rgba(0,0,0,1) 100%);;
}

@mixin thumb-focus() { background: #f90; }

@mixin thumb-disabled() { border: 2px solid $track-c-disabled; background:#fff; }

.slider-control {
	color: $track-c;
	display: flex;
	padding-bottom: 1rem;
	position: relative;
}
.slider-control label {
	font-size: 2rem;
	margin-left: 20px;
	padding-top: 1.5rem;
}

.slider-control__range {
	&, &::-webkit-slider-thumb {
		-webkit-appearance: none;
	}
	
	margin: 0;
	padding: 0;
	width: $track-w;
	height: 2*$thumb-d;
	background: 
		repeating-linear-gradient(90deg,
			$track-c 0, 
			$track-c $ruler-w, 
			transparent 0, 
			transparent $ruler-u)
		calc(.5*(#{$thumb-d} - #{$ruler-w})) 1.25*$thumb-d/ calc(#{$mover-w} + #{$ruler-w}) .5*$thumb-d no-repeat;
	font: inherit;

  &::-webkit-slider-runnable-track { @include track }
  &::-moz-range-track { @include track }
  &::-ms-track { @include track }

	&::-webkit-slider-thumb {
		margin-top: .5*($track-h - $thumb-d);
		@include thumb
	}
	&::-moz-range-thumb { @include thumb }
	&::-ms-thumb {
		margin-top: 0;
		@include thumb
	}
	&::-webkit-slider-thumb

	&:focus {
		outline: none;
		
		&::-webkit-slider-thumb {
			@include thumb-focus
		}
		&::-moz-range-thumb { @include thumb-focus }
		&::-ms-thumb {
			@include thumb-focus
		}
	}

	&:disabled {
		&::-webkit-slider-runnable-track { @include track-disabled }
		&::-moz-range-track { @include track-disabled }
		&::-ms-track { @include track-disabled }

		&::-webkit-slider-thumb {
			@include thumb-disabled
		}
		&::-moz-range-thumb { @include thumb-disabled }
		&::-ms-thumb {
			@include thumb-disabled
		}
	}
}
